/* WDD 230 - Assignment Portal CSS Template */
/* You may use #HEX or color names */
/* * is a wildcard referring to all elements. */
*  { margin: 0; box-sizing: border-box; }
body {
font-size: 16px;
line-height: 32px;
font-family: 'Lora', serif;
color: #37664c;
}
h1 {
font-size: 3rem;
color: #FFF2FF;
}
h2 {
font-size: 2rem;
text-align: center;
border-bottom: 1px solid #bbb;
}
header, main, footer {
margin: 1.25rem auto;
padding: .5rem;
max-width: 2000px;
}
header, footer, footer a {
text-align: center;
background-color: #38674D;
color: whitesmoke;
}
header img {
width: 12rem;
height: auto;
float: left;
padding: 5px 5px 5px 5px;
margin-left: 15px;

}
footer {
font-size: 1rem;
}