*  { margin: 0; box-sizing: border-box; }

body {
font-size: 18px;
line-height: 32px;
font-family: 'Lora', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
color: #253C59;
max-width: 100%;
margin: 0 auto;
padding: 1em;
text-align: center;
}

h1, h2, h3, h4 {
font-size: 3rem;
color: #FFF2FF;
text-align: center;
}

h2 {
font-size: 2rem;
text-align: center;
border-bottom: 1px solid #bbb;
}

#logo {
	padding-top: 5px;
	justify-self: left;
	width: 20%;
}

.logo {

	display: flex; 
	float: left; 
	width:30%;
	height: auto;
	padding-top: 1%;
	padding-left: 1%;
	padding-right: 3%;
}

header, main, footer {
display: flex;
flex-direction: column;
margin: 1.25rem auto;
padding: .5rem;
max-width: 2000px;
}

nav ul{
display:block;
margin: 1.25rem auto;
padding: .5rem;
max-width: 2000px;
}
header, footer, footer a {
text-align: center;
background-color: #253C59;
color: whitesmoke;
}
header img {
width: 18rem;
height: auto;
float: left;
padding: 10px 10px 10px 10px;
margin-left: 15px;
}
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

nav ul {display: none;}
nav ul.open {display:block;}

img{
width: 20rem;
height: auto;
float: left;
padding: 5px 5px 5px 5px; 
margin-left: 15px;
}
.colors{
width: 90rem;
}
footer {
font-size: 1rem;
margin-top: 10px;
text-decoration: none;
justify-content: space-around;
align-items: center; 
padding: 1%; 
}

* {
	margin: 0;
	padding: 0;
}

h1 {
	text-align: center;
	font-family: times, serif;
	font-size: 1.5rem;
}

nav {
	max-width: 700px;
	margin: 10px auto;
}

/* small view navigation */
#hamButton {
	display: block;
	position: absolute;
	top: 10px;
	right: 10px;
	width: fit-content;
	font-size: 1.5rem;
	padding: .5rem;
	color: navy;
}
.navigation {
	display: flex;
	flex-direction: column;
	list-style: none;
	background-color: #253C59;
}
.navigation li {
	display: none;
}
.navigation li a {
	padding: 1.15rem;
	display: block;
	text-align: center;
	text-decoration: none;
	color: #fff;
}
.navigation li a:hover {
	background-color: #bbb;
	color: #253C59;
	font-weight: 700;
}

/* when the button is clicked - the responsive class is added and accounted for here */
.navigation.responsive li {
	display: block;
	width: 100%;
}
.navigation.responsive li a {
	display: block;
}

@media only screen and (min-width: 32.5em) {
	.grid-container {
		display: grid;
		grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
		min-height: 500px;
		margin: 0;
		row-gap: .5rem;    
	}
	.hero_ph {
		grid-row: 1; 
		background-color: lightgrey;
		border: 1px solid black;
	}
	
	.event_ph {
		grid-row: 2;
		background-color: lightgrey;
		border: 1px solid black;
	}
	
	.weather_ph {
		grid-row: 3;
		background-color: lightgrey;
		border: 1px solid black;
	}
	
	.news_release_ph {
		grid-row: 4;
		background-color: lightgrey;
		border: 1px solid black;
	}
	
	.join_ph {
		display: none;
	}
	
	.spotlight_main {
		grid-row: 5/7;
		background-color: lightgrey;
		
		
	}
	
	.spotlight_ph1 {
		
		justify-content: center;
		border: 1px solid black;
		width: 96%;
		height: 46.5%;
		margin-left: 2%;
		margin-right: 2%;
		margin-top: 2%;
		margin-bottom: .5%;
	}
	.spotlight_ph2 {    
		background-color: lightgrey;
		border: 1px solid black;
		width: 96%;
		height: 46.5%;
		margin-left: 2%;
		margin-right: 2%;
		margin-top: .5%;
		margin-bottom: 2%;
	}
	
	
}
